<!DOCTYPE html>
<html lang="ar">
<head>
  <title>مشروعي | كل جديد في الريادة</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application',  'posts.coffee', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
  <link rel= "stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Cairo|El+Messiri" rel="stylesheet">
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/x-icon" href="https://lh3.googleusercontent.com/pQslXnsEXH4N6m5NFg5TIZUGYgAdtXtUJvtGr8DhSsv0MqAxnQ5LQ3yYvroh1ofIG8Qln8swCMc8kmZJeXp4Hw1f60v4nlE8zeo=w1920-h1080-rw-no" />
  <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-89887302-1', 'auto');
  ga('send', 'pageview');

</script>
<script type="text/javascript">var _kmq = _kmq || [];
var _kmk = _kmk || '936d2638b5fba54c3edb6f89313cd1cb9c0c4d91';
function _kms(u){
  setTimeout(function(){
    var d = document, f = d.getElementsByTagName('script')[0],
    s = d.createElement('script');
    s.type = 'text/javascript'; s.async = true; s.src = u;
    f.parentNode.insertBefore(s, f);
  }, 1);
}
_kms('//i.kissmetrics.com/i.js');
_kms('//scripts.kissmetrics.com/' + _kmk + '.2.js');
</script>
</head>
<body style="font-family: 'Cairo', sans-serif;">

    <%= render 'shared/navigation' %>

  
  <div id="main-container" class="container">
      <div class="row">
        <div class="col-xs-12">
          <% flash.each do |name, msg| -%>
            <%= content_tag :div, msg, class: "alert alert-#{name}" %>
          <% end -%>
        </div>
      </div>
    </div>
  
  <div class="container">
    <%= yield %>
    </div>
    


  <%= render 'posts/footer' %>


</body>
</html>